In [2]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

# 3. Download Data

### 3.1 Download with figshare API

In [7]:
# Use API to download data
article_id = "14096681"
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "NSWrainfall/"
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  
files = data["files"]

## 3.2 Extract Zip File

In [8]:
%%time
# create zip file
files_to_dl = ["data.zip"]
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 3.49 s, sys: 5.62 s, total: 9.11 s
Wall time: 5min 54s

In [9]:
%%time
# extract data into directory
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(output_directory)

CPU times: user 11.8 s, sys: 2.11 s, total: 14 s
Wall time: 14.3 s

# 4. Combine CSV

In [13]:
%%time
excluded_files = ["NSWrainfall\\observed_daily_rainfall_SYD.csv"]
files = glob.glob('NSWrainfall/*.csv')
files = list(set(files) - set(excluded_files))
df = pd.concat((pd.read_csv(file, index_col=0)
                .assign(model=re.findall("/([^_]*)", file)[0])
                for file in files)
              )
df.to_csv("NSWrainfall/combined_data.csv")

CPU times: user 5min 56s, sys: 20.2 s, total: 6min 16s
Wall time: 6min 20s

| Team Member | Operating System | RAM | Processor | Is SSD | Time Taken |
| --- | --- | --- | --- | --- | --- |
| Austin Shih | MacOS | 64GB | Intel i9 2.4 GHz 8-Core | Yes | 6m 20s |
| Renee Kwon | MacOS | 8GB | Dual-Core Intel Core i5 | Yes | 12min 27s |
| Wilfred Hass | --- | --- | ---  | --- | --- |
| Fujie Sun | WinOS | 16GB | AMD Ryzen 7 5800HS  | Yes | 8min 34s  |

In [17]:
df.head()

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.9,-35.1,141.475,142.275,6.454416e-19,FGOALS-f3-L
1889-01-02 12:00:00,-35.9,-35.1,141.475,142.275,1.459099e-08,FGOALS-f3-L
1889-01-03 12:00:00,-35.9,-35.1,141.475,142.275,7.752986e-04,FGOALS-f3-L
1889-01-04 12:00:00,-35.9,-35.1,141.475,142.275,3.762391e-01,FGOALS-f3-L
1889-01-05 12:00:00,-35.9,-35.1,141.475,142.275,9.123590e-13,FGOALS-f3-L

# 5. Simple EDA

| Team Member | Operating System | RAM | Processor | Is SSD | Time Taken |
| --- | --- | --- | --- | --- | --- |
| Austin Shih | MacOS | 64GB | Intel i9 2.4 GHz 8-Core | Yes | --- |
| Renee Kwon | MacOS | 8GB | Dual-Core Intel Core i5  | Yes | --- |
| Wilfred Hass | --- | --- | ---  | --- | --- |
| Fujie Sun | WinOS | 16GB | AMD Ryzen 7 5800HS  | Yes | --- |